.env
/obj
/bin
/logs
.idea/.idea.Nerdomat.dir/riderModule.iml
.idea/.idea.Nerdomat.dir/.idea/contentModel.xml
.idea/.idea.Nerdomat.dir/.idea/indexLayout.xml
.idea/.idea.Nerdomat.dir/.idea/modules.xml
.idea/.idea.Nerdomat.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.Nerdomat.dir/.idea/vcs.xml
.idea/.idea.Nerdomat.dir/.idea/workspace.xml
.idea/.idea.Nerdomat.dir/.idea/codeStyles/codeStyleConfig.xml
.idea/.idea.Nerdomat.dir/.idea/dictionaries/m_smolinski.xml
/quickstart-1555516131984-9827913e7caa.json
Dockerfile
